@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active"><a href="my-patients.html">My Patientst</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Richard Wilson</li>

                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Profile Patient</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">

                <!-- Profile Widget -->
                <div class="card widget-profile pat-widget-profile">
                    <div class="card-body">
                        <div class="pro-widget-content">
                            <div class="profile-info-widget">
                                <a href="#" class="booking-doc-img">
                                    <img src="~/assets/img/patients/patient.jpg" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3>Richard Wilson</h3>

                                    <div class="patient-details">
                                        <h5><b>Patient ID :</b> PT0016</h5>
                                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="patient-info">
                            <ul>
                                <li>Phone <span>+1 952 001 8563</span></li>
                                <li>Age <span>38 Years, Male</span></li>
                                <li>Blood Group <span>AB+</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body pt-0">

                                <!-- Tab Menu -->
                                <nav class="user-tabs mb-4">
                                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#pat_medicalrecords" data-bs-toggle="tab">Medical Records</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#pat_prescription" data-bs-toggle="tab">Prescription</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- /Tab Menu -->
                                <!-- Tab Content -->
                                <div class="tab-content pt-0">
                                    <div id="pat_medicalrecords" class="tab-pane fade show active">
                                        <!-- Medical Records Tab -->
                                        <div class="text-end">
                                            <a href="#" class="add-new-btn" data-bs-toggle="modal" data-bs-target="#add_medical_records_modal">Add Medical Records</a>
                                        </div>
                                        <div class="card card-table mb-0">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Date </th>
                                                                <th>Description</th>
                                                                <th>Attachment</th>
                                                                <th>Created</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><a href="javascript:void(0);">#MR-0009</a></td>
                                                                <td>13 Nov 2019</td>
                                                                <td>Teeth Cleaning</td>
                                                                <td><a href="#">dental-test.pdf</a></td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                                                        </a>
                                                                        <a> Dr. Darren Elder <span>Dental</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-end">
                                                                    <div class="table-action">
                                                                        <a href="#" class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-bs-target="#Edit_medical_records_modal">
                                                                            <i class="far fa-edit"> Edit</i>
                                                                        </a>
                                                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                            <i class="fas fa-trash-alt"></i> Delete
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="javascript:void(0);">#MR-0008</a></td>
                                                                <td>12 Nov 2019</td>
                                                                <td>General Checkup</td>
                                                                <td><a href="#">cardio-test.pdf</a></td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-03.jpg" alt="User Image">
                                                                        </a>
                                                                        <a> Dr. Deborah Angel <span>Cardiology</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-end">
                                                                    <div class="table-action">
                                                                        <a href="#" class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-bs-target="#Edit_medical_records_modal">
                                                                            <i class="far fa-edit"> Edit</i>
                                                                        </a>
                                                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                            <i class="fas fa-trash-alt"></i> Delete
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="javascript:void(0);">#MR-0003</a></td>
                                                                <td>7 Nov 2019</td>
                                                                <td>Skin Alergy</td>
                                                                <td><a href="#">alergy-test.pdf</a></td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-08.jpg" alt="User Image">
                                                                        </a>
                                                                        <a> Dr. Paul Richard <span>Dermatology</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-end">
                                                                    <div class="table-action">
                                                                        <a href="#" class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-bs-target="#Edit_medical_records_modal">
                                                                            <i class="far fa-edit"> Edit</i>
                                                                        </a>
                                                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                            <i class="fas fa-trash-alt"></i> Delete
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="javascript:void(0);">#MR-0002</a></td>
                                                                <td>6 Nov 2019</td>
                                                                <td>Dental Removing</td>
                                                                <td><a href="#">dental-test.pdf</a></td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-09.jpg" alt="User Image">
                                                                        </a>
                                                                        <a> Dr. John Gibbs <span>Dental</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-end">
                                                                    <div class="table-action">
                                                                        <a href="#" class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-bs-target="#Edit_medical_records_modal">
                                                                            <i class="far fa-edit"> Edit</i>
                                                                        </a>
                                                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                            <i class="fas fa-trash-alt"></i> Delete
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="javascript:void(0);">#MR-0001</a></td>
                                                                <td>5 Nov 2019</td>
                                                                <td>Dental Filling</td>
                                                                <td><a href="#">dental-test.pdf</a></td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-10.jpg" alt="User Image">
                                                                        </a>
                                                                        <a> Dr. Olga Barlow <span>Dental</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-end">
                                                                    <div class="table-action">
                                                                        <a href="#" class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-bs-target="#Edit_medical_records_modal">
                                                                            <i class="far fa-edit"> Edit</i>
                                                                        </a>
                                                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                            <i class="fas fa-trash-alt"></i> Delete
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Medical Records Tab -->
                                    <!-- Prescription Tab -->
                                    <div class="tab-pane fade" id="pat_prescription">

                                        <div class="text-end">
                                            <a asp-area="" asp-controller="Prescriptions" asp-action="AddPrescription" class="add-new-btn" data-bs-target="#add_medical_records_modal">Add Prescription</a>
                                        </div>
                                        <div class="card card-table mb-0">

                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Date</th>
                                                                <th>Name</th>
                                                                <th>Doctor</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <td>2</td>
                                                                <td>3 Nov 2019 <span class="d-block text-info">11.00 AM</span></td>
                                                                <td>Prescription</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                                                        </a>
                                                                        <a> Dr. Darren Elder <span>Dental</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td>
                                                                    <div class="table-action">
                                                                        <div class="table-action">
                                                                            <a asp-area="" asp-controller="Prescriptions" asp-action="DetailPrescription" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> View
                                                                            </a>
                                                                            <a asp-area="" asp-controller="Prescriptions" asp-action="EditPrescription" class="btn btn-sm bg-success-light">
                                                                                <i class="far fa-edit"> Edit</i>
                                                                            </a>
                                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                                <i class="fas fa-trash-alt"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>1 Nov 2019 <span class="d-block text-info">1.00 PM</span></td>
                                                                <td>Prescription</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-03.jpg" alt="User Image">
                                                                        </a>
                                                                        <a>Dr. Deborah Angel <span>Cardiology</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td>
                                                                    <div class="table-action">
                                                                        <div class="table-action">
                                                                            <a href="view-prescription.html" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> View
                                                                            </a>
                                                                            <a href="edit-prescription.html" class="btn btn-sm bg-success-light">
                                                                                <i class="far fa-edit"> Edit</i>
                                                                            </a>
                                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                                <i class="fas fa-trash-alt"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>30 Oct 2019 <span class="d-block text-info">9.00 AM</span></td>
                                                                <td>Prescription</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-04.jpg" alt="User Image">
                                                                        </a>
                                                                        <a>Dr. Sofia Brient <span>Urology</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td>
                                                                    <div class="table-action">
                                                                        <div class="table-action">
                                                                            <a href="view-prescription.html" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> View
                                                                            </a>
                                                                            <a href="edit-prescription.html" class="btn btn-sm bg-success-light">
                                                                                <i class="far fa-edit"> Edit</i>
                                                                            </a>
                                                                            <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                                <i class="fas fa-trash-alt"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>28 Oct 2019 <span class="d-block text-info">6.00 PM</span></td>
                                                                <td>Prescription</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-05.jpg" alt="User Image">
                                                                        </a>
                                                                        <a>Dr. Marvin Campbell <span>Ophthalmology</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td>
                                                                    <div class="table-action">
                                                                        <a href="view-prescription.html" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                        <a href="edit-prescription.html" class="btn btn-sm bg-success-light">
                                                                            <i class="far fa-edit"> Edit</i>
                                                                        </a>
                                                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                            <i class="fas fa-trash-alt"></i> Delete
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td>27 Oct 2019 <span class="d-block text-info">8.00 AM</span></td>
                                                                <td>Prescription</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-06.jpg" alt="User Image">
                                                                        </a>
                                                                        <a>Dr. Katharine Berthold <span>Orthopaedics</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td>
                                                                    <div class="table-action">
                                                                        <a href="view-prescription.html" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                        <a href="edit-prescription.html" class="btn btn-sm bg-success-light">
                                                                            <i class="far fa-edit"> Edit</i>
                                                                        </a>
                                                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                                                            <i class="fas fa-trash-alt"></i> Delete
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Prescription Tab -->

                                </div>
                                <!-- Tab Content -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /Page Content -->
<div class="modal fade custom-modal custom-medicalrecord-modal" id="Edit_medical_records_modal" style="display: none;" data-select2-id="add_medical_records_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Medical Records</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="medical_records_form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Patient Name</label>
                                <input type="text" name="description" class="form-control" placeholder="Enter Patient Name">
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Age</label>
                                <input type="text" name="description" class="form-control" placeholder="Age">
                                </select>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Symptoms</label>
                                <input type="text" data-role="tagsinput" class="input-tags form-control" value="Fever, Fatigue" name="services" id="services">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Doctor</label>
                                <select class="form-select">
                                    <option>Steplen</option>
                                    <option>Richard</option>
                                    <option>Self</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="form-group">
                                    <input type="date" class="form-control" name="tratment_date" id="tratment_date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <div class="submit-section text-center">
                            <button type="submit" id="medical_btn" class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="form-content p-2">
                    <h4 class="modal-title">Delete</h4>
                    <p class="mb-4">Are you sure want to delete ?</p>
                    <button type="button" class="btn btn-primary">Save </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Medical Records Modal -->
<div class="modal fade custom-modal custom-medicalrecord-modal" id="add_medical_records_modal" style="display: none;" data-select2-id="add_medical_records_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Medical Records</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="medical_records_form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Patient Name</label>
                                <input type="text" name="description" class="form-control" placeholder="Enter Patient Name">
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Age</label>
                                <input type="text" name="description" class="form-control" placeholder="Age">
                                </select>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="rows">
                            <div class="form-group">
                                <label>Symptoms</label>
                                <input type="text" data-role="tagsinput" class="input-tags form-control" value="Fever, Fatigue" name="services" id="services">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Doctor</label>
                                <select class="form-select">
                                    <option>Steplen</option>
                                    <option>Richard</option>
                                    <option>Self</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="form-group">
                                    <input type="date" class="form-control" name="tratment_date" id="tratment_date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <div class="submit-section text-center">
                            <button type="submit" id="medical_btn" class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src=@Url.Content("~/assets/js/jquery-3.6.0.min.js")></script>

<!-- Bootstrap Core JS -->
<script src=@Url.Content("~/assets/js/bootstrap.bundle.min.js")></script>

<!-- Select2 JS -->
<script src=@Url.Content("~/assets/plugins/select2/js/select2.min.js")></script>

<!-- Sticky Sidebar JS -->
<script src=@Url.Content("~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js")></script>
<script src=@Url.Content("~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js")></script>

<!-- Custom JS -->
<script src=@Url.Content("~/assets/js/script.js")></script>