@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
<li class="breadcrumb-item"><a href="medical-records.html">Medical Records</a></li>
                        <li class="breadcrumb-item active" aria-current="page">#1</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Details Medical Records</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Details Medical Records</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="invoice-info">
                                    <strong class="customer-text" style="font-size: 16px;">Patient Information</strong>
                                    <p class="invoice-details invoice-details-two">
                                        Trần Lê Anh Trung <br>
                                        <br>
                                        Day of birth: 06/07/2000
                                        <br>
                                        <br>
                                        Phone: 0828269607<br>
                                        <br>
                                        TP HCM, Việt Nam <br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="invoice-info">
                                    <strong class="customer-text" style="font-size: 16px;">Examination</strong>
                                    <p class="invoice-details invoice-details-two">
                                        24 December 2021
                                    </p>
                                    <strong class="customer-text" style="font-size: 16px;">Re-Examination</strong>
                                    <p class="invoice-details invoice-details-two">
                                        1 January 2022
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="invoice-info">
                                        <strong class="customer-text" style="font-size: 16px;">Medical Diagnose</strong>
                                        <p class="invoice-details invoice-details-two">
                                            Đau đầu
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="invoice-info">
                                        <strong class="customer-text" style="font-size: 16px;">Description Diagnose</strong>
                                        <p class="invoice-details invoice-details-two">
                                            Máu không lưu thông được lên não
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="invoice-info">
                                        <strong class="customer-text" style="font-size: 16px;">Medical Advice</strong>
                                        <p class="invoice-details invoice-details-two">
                                            Cần nghỉ ngơi, uống nhiều nước, để đầu óc thư giãn
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Invoice Item -->
                        <!-- Invoice Item -->
                        <!-- Add Item -->
                        <!-- /Add Item -->
                        <strong class="customer-text" style="font-size: 16px;">Prescription</strong>
                        <!-- Prescription Item -->
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center">
                                        <thead>
                                            <tr>
                                                <th style="width: 200px">Name</th>
                                                <th style="width: 100px">Quantity</th>
                                                <th style="width: 100px">Days</th>
                                                <th style="width: 100px;">Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="d-block text-muted">Amoxapine</span>
                                                </td>
                                                <td>
                                                    <span class="d-block text-muted">2</span>
                                                </td>
                                                <td>
                                                    <span class="d-block text-muted">2 Days</span>
                                                </td>
                                                </td>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" checked="checked" disabled> Morning
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" checked="checked" disabled> Afternoon
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>
                                                    <span class="d-block text-muted">Benazepril</span>
                                                </td>
                                                <td>
                                                    <span class="d-block text-muted">2</span>
                                                </td>
                                                <td>
                                                    <span class="d-block text-muted">3 Days</span>
                                                </td>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" checked="checked" disabled> Morning
                                                        </label>
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" checked="checked" disabled> Night
                                                        </label>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /Prescription Item -->
                        <!-- Signature -->
                        <div class="row">
                            <div class="col-md-12 text-end">
                                <div class="signature-wrap">
                                    <div class="sign-name">
                                        <p class="mb-0">Created By Dr.Darren Elder</p>
                                        <span class="text-muted">Signature</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Signature -->
                        <!-- Submit Section -->
                        <!-- /Submit Section -->

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="float-contact">
    <ul style="line-height: 45px">
        <div>
            <a href="http://facebook.com">
                <img src="assets/img/messenger.png" alt="" />
            </a>
        </div>
        <div>
            <a href="tel:0989999898">
                <img src="assets/img/hotline.png" alt="" />
            </a>
        </div>
    </ul>
</div>
<!-- /Page Content -->