@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Health Check</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Health Check</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-7 col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <!-- Checkout Form -->
                        <form asp-controller="HealthCheck" asp-action="HealthCheckSuccessfully">

                            <!-- Personal Information -->
                            <div class="info-widget">
                                <h4 class="card-title">Personal Information</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Age</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Weight</label>
                                            <input class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Height</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Blood Pressure</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Heart Rate</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="submit-section mt-2">
                                        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                                        <a href="calendar.html" class="btn btn-primary submit-btn">Plan</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-md-5 col-lg-4 theiaStickySidebar">

                <!-- Booking Summary -->
                <!-- /Booking Summary -->
            </div>
        </div>
    </div>
</div>
<script src=@Url.Content("~/assets/js/jquery-3.6.0.min.js")></script>

<!-- Bootstrap Core JS -->
<script src=@Url.Content("~/assets/js/bootstrap.bundle.min.js")></script>

<!-- Sticky Sidebar JS -->
<script src=@Url.Content("~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js")></script>
<script src=@Url.Content("~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js")></script>

<!-- Custom JS -->
<script src=@Url.Content("~/assets/js/script.js")></script>