
@using FamilyHealthCare.Customer.Models
@model HealthCheckViewModel
@using Data

@{
    ViewData["Title"] = "Health Check";
}
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Health Check</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Health Check</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-7 col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <!-- Checkout Form -->
                        <form id="healthCheckForm" asp-action="HealthCheck" asp-controller="HealthCheck" method="post">

                            <!-- Personal Information -->
                            <div class="info-widget">
                                <h4 class="card-title">Personal Information</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Age</label>
                                            <input class="form-control" type="text" placeholder="18" asp-for="Age">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Weight</label>
                                            <input class="form-control" type="text" placeholder="kg: 50" asp-for="Weight">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Height</label>
                                            <input class="form-control" type="text" placeholder="cm: 165" asp-for="Height">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Blood Pressure</label>
                                            <input class="form-control" type="text" placeholder="80/120" asp-for="BloodPressure">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Heart Rate</label>
                                            <input class="form-control" type="text" placeholder="89" asp-for="HeartRate">
                                        </div>
                                    </div>
                                    <div class="submit-section mt-2">
                                        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                                        <a asp-action="" asp-controller="" class="btn btn-primary submit-btn">Plan</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
