@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li>
                    <a href="index.html"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Medicines</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="products.html">Medicines</a></li>
                        <li><a href="add-product.html" class="active">Add Medicine</a></li>
                        <li><a href="outstock.html">Out-Stock</a></li>
                        <li><a href="expired.html">Returned</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-star-o"></i> <span> Prescription</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="purchase.html">Prescription</a></li>
                        <li><a href="add-prescription.html">Add Prescription</a></li>
                        <!-- <li><a href="edit-prescription.html">Edit Prescription</a></li> -->
                        <!-- <li><a href="order.html">Order</a></li> -->
                    </ul>
                </li>


                <li>
                    <a href="profile.html"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                </li>
                <li>
                    <a href="settings.html"><i class="fe fe-vector"></i> <span>Settings</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Add Medicine</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Add Medicine</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body custom-edit-service">


                        <!-- Add Medicine -->
                        <form method="post" enctype="multipart/form-data" autocomplete="off" id="update_service" action="medicine.html">
                            <input type="hidden" name="csrf_token_name" value="0146f123a4c7ae94253b39bca6bd5a5e">

                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Medicine Name<span class="text-danger">*</span></label>
                                            <input type="hidden" name="brand_name" id="brand_name" value="18">
                                            <input class="form-control" type="text" name="brand_name" id="brand_name" value="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Category <span class="text-danger">*</span></label>
                                            <select class="form-select form-control" name="category" required="">
                                                <option value="1">Stomach Pain Medicine</option>
                                                <option value="2" selected="selected">Antipyretics</option>
                                                <option value="3">Bactericide</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Main Active Ingredients<span class="text-danger">*</span></label>
                                            <input type="hidden" name="Price" id="Price" value="18">
                                            <input class="form-control" type="text" name="Price" id="Price" value="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Content Medicine<span class="text-danger">*</span></label>
                                            <input type="hidden" name="quantity" id="quantity" value="18">
                                            <input class="form-control" type="text" name="quantity" id="quantity" value="" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Packing Process<span class="text-danger">*</span></label>
                                            <input type="hidden" name="Price" id="Price" value="18">
                                            <input class="form-control" type="text" name="Price" id="Price" value="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Medicine Unit<span class="text-danger">*</span></label>
                                            <input type="hidden" name="quantity" id="quantity" value="18">
                                            <input class="form-control" type="text" name="quantity" id="quantity" value="" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Date Of Manufacture<span class="text-danger">*</span></label>
                                            <input type="hidden" name="Price" id="Price" value="18">
                                            <input class="form-control" type="text" name="Price" id="Price" value="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Expiration Date<span class="text-danger">*</span></label>
                                            <input type="hidden" name="quantity" id="quantity" value="18">
                                            <input class="form-control" type="text" name="quantity" id="quantity" value="" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Import Date<span class="text-danger">*</span></label>
                                            <input type="hidden" name="Price" id="Price" value="18">
                                            <input class="form-control" type="text" name="Price" id="Price" value="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Number Of Import<span class="text-danger">*</span></label>
                                            <input type="hidden" name="quantity" id="quantity" value="18">
                                            <input class="form-control" type="text" name="quantity" id="quantity" value="" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Inventory<span class="text-danger">*</span></label>
                                            <input type="hidden" name="Price" id="Price" value="18">
                                            <input class="form-control" type="text" name="Price" id="Price" value="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Total<span class="text-danger">*</span></label>
                                            <input type="hidden" name="quantity" id="quantity" value="18">
                                            <input class="form-control" type="text" name="quantity" id="quantity" value="" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="service-fields mb-3">


                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Status <span class="text-danger">*</span></label>
                                        <select class="form-select form-control" name="category" required="">
                                            <option value="1">Importing items</option>
                                            <option value="2" selected="selected">Stocking</option>
                                            <option value="3">Out Of Stock</option>
                                            <option value="4">Returned</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="service-fields mb-3">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="service-upload">
                                                <i class="fas fa-cloud-upload-alt"></i>
                                                <span>Upload Product Images *</span>
                                                <input type="file" name="images[]" id="images" multiple="" accept="image/jpeg, image/png, image/gif,">

                                            </div>
                                            <div id="uploadPreview">
                                                <ul class="upload-wrap">
                                                    <li>
                                                        <div class=" upload-images">
                                                            <img alt="Blog Image" src=@Url.Content("~/assets/img/product/product1.jpg")>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn" type="submit" name="form_submit" value="submit">Submit</button>
                                </div>
                        </form>
                        <!-- /Add Medicine -->


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->
