@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li>
                    <a href="index.html"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Medicines</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="products.html">Medicines</a></li>
                        <li><a href="add-product.html">Add Medicine</a></li>
                        <li><a href="outstock.html">Out-Stock</a></li>
                        <li><a href="expired.html" class="active">Returned</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-star-o"></i> <span> Prescription</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="purchase.html">Prescription</a></li>
                        <li><a href="add-prescription.html">Add Prescription</a></li>
                        <!-- <li><a href="edit-prescription.html">Edit Prescription</a></li> -->
                        <!-- <li><a href="order.html">Order</a></li> -->
                    </ul>
                </li>

                <li>
                    <a href="profile.html"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                </li>
                <li>
                    <a href="settings.html"><i class="fe fe-vector"></i> <span>Settings</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Expired</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Medicine</a></li>
                        <li class="breadcrumb-item active">Expired</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-12">

                <!-- Recent Orders -->
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Medicine Name</th>
                                        <th>Category</th>
                                        <th>Import Date</th>
                                        <th>Quantity</th>
                                        <th>Inventory</th>
                                        <th>Status</th>
                                        <!-- <th>Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <span class="avatar avatar-sm me-2"><img class="avatar-img" src=@Url.Content("~/assets/img/product/product1.jpg") alt="product image"></span>
                                                Thevapop
                                            </h2>
                                        </td>
                                        <td>Stomach Pain Medicine</td>
                                        <td>02/07/2020</td>
                                        <td>200</td>
                                        <td>50</td>
                                        <td>RETURNED</td>
                                        <!-- <td>
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" href="#">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td> -->
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <span class="avatar avatar-sm me-2"><img class="avatar-img" src=@Url.Content("~/assets/img/product/product.jpg") alt="product image"></span>
                                                Yumanagel
                                            </h2>
                                        </td>
                                        <td>Bactericide</td>
                                        <td>30/12/2021</td>
                                        <td>0</td>
                                        <td>100</td>
                                        <td>RETURNED</td>


                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <span class="avatar avatar-sm me-2"><img class="avatar-img" src=@Url.Content("~/assets/img/product/product.jpg") alt="product image"></span>
                                                Omega
                                            </h2>
                                        </td>
                                        <td>Antipyretics</td>
                                        <td>01/10/2019</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>RETURNED</td>


                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <span class="avatar avatar-sm me-2"><img class="avatar-img" src=@Url.Content("~/assets/img/product/product.jpg") alt="product image"></span>
                                                Adderall
                                            </h2>
                                        </td>
                                        <td>Phytopathology‎</td>
                                        <td>04/10/2018</td>
                                        <td>22</td>
                                        <td>20</td>
                                        <td>RETURNED</td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Recent Orders -->

            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
