@{
    ViewData["Title"] = "Home Page";
}

<!-- //banner -->
<section class="services py-5">
    <div class="container py-lg-5">
        <h3 class="heading text-center mb-sm-5 mb-4">What we do</h3>
        <div class="row offer-grids">
            <div class="col-lg-4 col-md-6">
                <div class="ser1">
                    <div class="bg-layer">
                        <h4 class="">Find the nearest Doctor - Pharmacy</h4>
                        <p class="mt-3">
                            <img class="avia_image" src="/images/icon_doctor.png" alt="" title="icon-doctor"
                                 itemprop="thumbnailUrl" />
                            Use Health-Care to connect directly with your doctor anytime,
                            anywhere with secure voice/video calls - all free.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="ser2">
                    <div class="bg-layer">
                        <h4 class="">
                            Early detection - prevent disease from getting worse
                        </h4>
                        <p class="mt-3">
                            <img class="avia_image" src="/images/icon-hospital-2.png" alt="" title="icon-hospital-2"
                                 itemprop="thumbnailUrl" />
                            The team of doctors and medical staff will actively update the
                            progress of the disease in real time, then arrange
                            comprehensive monitoring, disease control to identify
                            potential health risks
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="ser3">
                    <div class="bg-layer">
                        <h4 class="">Periodic health check</h4>
                        <p class="mt-3">
                            <img class="avia_image" src="/images/icon-hospital-3.png" alt="" title="icon-hospital-3"
                                 itemprop="thumbnailUrl" />
                            Patients are examined, cared for periodically and have a
                            treatment plan by a chronic disease specialist and own health
                            care staff.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser4">
                    <div class="bg-layer">
                        <h4 class="">Remote inspection and monitoring</h4>
                        <p class="mt-3">
                            <img class="avia_image" src="/images/icon-hospital-4.png" alt="" title="icon-hospital-4"
                                 itemprop="thumbnailUrl" />
                            The software supports storing and synchronizing data from
                            medical devices, updating history Treatment helps patients and
                            relatives actively monitor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser5">
                    <div class="bg-layer">
                        <h4 class="">Improve quality of life</h4>
                        <p class="mt-3">
                            <img class="avia_image" src="/images/icon-hospital-5.png" alt="" title="icon-hospital-5"
                                 itemprop="thumbnailUrl" />
                            The treatment regimen will be combined with
                            counseling/orientation, lifestyle adjustment to support the
                            whole meet the health care needs of the patient.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser6">
                    <div class="bg-layer">
                        <h4 class="">
                            Reduce the cost of medical examination and limit hospital stay
                        </h4>
                        <p class="mt-3">
                            <img class="avia_image" src="/images/icon-hospital.png" alt="" title="icon-hospital"
                                 itemprop="thumbnailUrl" />
                            Patients are supported with safe and comfortable medical care
                            right at home.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->
<!-- testimonials -->
<section class="feedback" id="testimonials">
    <div class="feedback-layer py-5">
        <div class="container py-lg-5">
            <h3 class="heading text-center mb-sm-5 mb-4">Testimonials</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p>Van Lang University</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="images/ser1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>Yen Dang</h5>
                                <p class="font-italic">- March 2000.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p>Van Lang University</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="images/ser1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>Hoang Hai</h5>
                                <p class="font-italic">- March 2000.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p>Van Lang University</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="images/ser1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>Kien Tuong</h5>
                                <p class="font-italic">- March 2000.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p>Van Lang University</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="images/ser1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>Quang Anh</h5>
                                <p class="font-italic">- March 2000.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p>Van Lang University</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="images/ser1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>Thai Quang</h5>
                                <p class="font-italic">- March 3, 2019.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p>Van Lang University</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="images/ser1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>Anh Trung</h5>
                                <p class="font-italic">- March 3, 2019.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials -->
<!-- appointment -->
<section class="appointment text-center py-5">
    <div class="container py-sm-3">
        <h4>make your dream smile a reality</h4>
        <p class="mt-3">Call Us To Book Your Appointment Today</p>
        <a href="book-appointment.html">Book an Appointment</a>
    </div>
</section>

