@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Breadcrumb -->
<!-- Datetimepicker CSS -->
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

<!-- Full Calander CSS -->
<link rel="stylesheet" href="~/assets/plugins/fullcalendar/fullcalendar.min.css">
<!-- Main CSS -->
<link rel="stylesheet" href="~/assets/css/style.css">
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <li class="breadcrumb-item active" aria-current="page">Calendar</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Calendar</h2>
            </div>

        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <!-- Calendar Events -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="assets/img/patients/patient.jpg" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>Richard Wilson</h3>
                                <div class="patient-details">
                                    <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
                                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">
                                        <i class="fas fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="MyPatient" asp-action="MyPatients">
                                        <i class="fas fa-user-injured"></i>
                                        <span>My Patients</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="ScheduleTiming" asp-action="ScheduleTimings">
                                        <i class="fas fa-hourglass-start"></i>
                                        <span>Schedule Timings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="MedicalRecords" asp-action="MedicalRecord">
                                        <i class="fas fa-file-invoice"></i>
                                        <span>Medical Records</span>
                                    </a>
                                </li>
                                <li >
                                    <a asp-area="" asp-controller="Prescriptions" asp-action="Prescription">
                                        <i class="fas fa-share-alt"></i>
                                        <span>Prescription</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a asp-area="" asp-controller="Calendars" asp-action="Calendar">
                                        <i class="fas fa-calendar-check"></i>
                                        <span>Calendar</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="ProfileSettings" asp-action="ProfileSetting">
                                        <i class="fas fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <!-- /Calendar Events -->
            <!-- Calendar -->
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            <!-- /Calendar -->

        </div>

    </div>

</div>
