@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>             
                <li>
                    <a asp-controller="Home" asp-action="Index"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a asp-controller="Appointment" asp-action="Index"><i class="fe fe-layout"></i> <span>Appointments</span></a>
                </li>
                <li>
                    <a asp-controller="Specialities" asp-action="Index"><i class="fe fe-vector"></i> <span>Specialities</span></a>
                </li>
                <li>
                    <a asp-controller="Doctor" asp-action="Index"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
                </li>
                <li>
                    <a asp-controller="Patient" asp-action="Index"><i class="fe fe-user"></i> <span>Patients</span></a>
                </li>
                <li class="active"><a asp-controller="Pharmacy" asp-action="Index"><i class="fe fe-vector"></i> <span>Pharmacy List</span></a></li>
                <li>
                <li><a asp-controller="Category" asp-action="Index"><i class="fe fe-layout"></i> <span>Categories</span></a></li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Pending Request</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a asp-controller="Doctor" asp-action="RequestDoctor">Request From Doctor</a></li>
                        <li><a asp-controller="Pharmacy" asp-action="RequestPharmacy">Request From Pharmacy</a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Pages</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Blog </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a asp-controller="Blog" asp-action="Index"> Blog </a></li>
                        <li><a asp-controller="Blog" asp-action="AddBlog"> Add Blog </a></li>
                    </ul>
                </li>
            </ul>                                      
        </div>
    </div>
</div>
<!-- /Sidebar -->
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">
                    <h3 class="page-title">Pharmacy List</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Pharmacy List</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#Pharmacy ID</th>
                                        <th>Pharmacy Name</th>
                                        <th>Pharmacy Address</th>
                                        <th>Created Date</th>
                                        <th>Phone</th>
                                        <th>Pharmacy Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#PN001</td>

                                        <td>
                                            <h2 class="table-avatar">
                                                <a asp-controller="Pharmacy" asp-action="DetailsPharmacy" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-01.jpg") alt="User Image"></a>
                                                <a asp-controller="Pharmacy" asp-action="DetailsPharmacy">Long Chau</a>
                                            </h2>
                                        </td>

                                        <td>96 Red Hawk Road<br> Cyrus, MN 56323 </td>

                                        <td>12-05-2020</td>

                                        <td>320-795-8815</td>

                                        <td>
                                            <div class="status-toggle">
                                                <input type="checkbox" id="status_1" class="check" checked>
                                                <label for="status_1" class="checktoggle">checkbox</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#SP002</td>

                                        <td>
                                            <h2 class="table-avatar">
                                                <a asp-controller="Pharmacy" asp-action="DetailsPharmacy" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-01.jpg") alt="User Image"></a>
                                                <a asp-controller="Pharmacy" asp-action="DetailsPharmacy">Phuc Bao </a>
                                            </h2>
                                        </td>
                                        <td>3130 Murry Street<br>Princess Anne, VA 23456</td>

                                        <td>13-05-2020</td>

                                        <td>913-631-2538</td>


                                        <td>
                                            <div class="status-toggle">
                                                <input type="checkbox" id="status_2" class="check" checked>
                                                <label for="status_2" class="checktoggle">checkbox</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#SP002</td>

                                        <td>
                                            <h2 class="table-avatar">
                                                <a asp-controller="Pharmacy" asp-action="DetailsPharmacy" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-01.jpg") alt="User Image"></a>
                                                <a asp-controller="Pharmacy" asp-action="DetailsPharmacy">Pharmacy</a>
                                            </h2>
                                        </td>

                                        <td>3503 Flint Street<br>Saipan, MP 96950</td>

                                        <td>14-05-2020</td>

                                        <td>816-270-2336</td>


                                        <td>
                                            <div class="status-toggle">
                                                <input type="checkbox" id="status_3" class="check" checked>
                                                <label for="status_3" class="checktoggle">checkbox</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src=@Url.Content("~/assets/js/jquery-3.6.0.min.js")></script>

<!-- Bootstrap Core JS -->
<script src=@Url.Content("~/assets/js/bootstrap.bundle.min.js")></script>

<!-- Slimscroll JS -->
<script src=@Url.Content("~/assets/plugins/slimscroll/jquery.slimscroll.min.js")></script>

<!-- Datatables JS -->
<script src=@Url.Content("~/assets/plugins/datatables/jquery.dataTables.min.js")></script>
<script src=@Url.Content("~/assets/plugins/datatables/datatables.min.js")></script>

<!-- Custom JS -->
<script src=@Url.Content("~/assets/js/script.js")></script>
