@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fe fe-home"></i><span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Medicines</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Pharmacy" asp-action="Medicine">Medicine</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Pharmacy" asp-action="AddMedicine">Add Medicine</a>
                        </li>

                        <li >
                            <a class="active" asp-area="" asp-controller="Pharmacy" asp-action="OutStock">Out-Stock</a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Pharmacy" asp-action="Returned">Returned</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-star-o"></i> <span> Prescription</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        @*<li><a href="purchase.html">Prescription</a></li>*@
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Pharmacy" asp-action="Prescription">Prescription</a>
                        </li>
                        @*<li><a href="add-prescription.html">Add Prescription</a></li>*@
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Pharmacy" asp-action="AddPrescription">Add Prescription</a>
                        </li>
                        <!-- <li><a href="edit-prescription.html">Edit Prescription</a></li> -->
                        <!-- <li><a href="order.html">Order</a></li> -->
                    </ul>
                </li>

                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Profile"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                </li>


                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Setting"><i class="fe fe-vector"></i> <span>Settings</span></a>
                </li>

            </ul>

        </div>
    </div>
</div>
<!-- /Sidebar -->
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Outstock</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Medicine</a></li>
                        <li class="breadcrumb-item active">Outstock</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-12">

                <!-- Recent Orders -->
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Medicine Name</th>
                                        <th>Category</th>
                                        <th>Import Date</th>
                                        <th>Quantity</th>
                                        <th>Inventory</th>
                                        <th>Status</th>
                                        <!-- <th>Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <span class="avatar avatar-sm me-2"><img class="avatar-img" src=@Url.Content("~/assetsPhar/img/product/product1.jpg") alt="product image"></span>
                                                Paracetamol
                                            </h2>
                                        </td>
                                        <td>Antipyretics</td>
                                        <td>01/10/20192</td>
                                        <td>500</td>
                                        <td>0</td>
                                        <td>OUT OF STOCK</td>
                                        <!-- <td>
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" href="#">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td> -->
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <span class="avatar avatar-sm me-2"><img class="avatar-img" src=@Url.Content("~/assetsPhar/img/product/product.jpg") alt="product image"></span>
                                                Acetrace Amionel
                                            </h2>
                                        </td>
                                        <td>Body care</td>
                                        <td>02/10/2019</td>
                                        <td>22</td>
                                        <td>0</td>
                                        <td>OUT OF STOCK</td>


                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <span class="avatar avatar-sm me-2"><img class="avatar-img" src=@Url.Content("~/assetsPhar/img/product/product.jpg") alt="product image"></span>
                                                Acetrace Amionel
                                            </h2>
                                        </td>
                                        <td>Hair care</td>
                                        <td>03/10/2019</td>
                                        <td>22</td>
                                        <td>0</td>
                                        <td>OUT OF STOCK</td>


                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <span class="avatar avatar-sm me-2"><img class="avatar-img" src=@Url.Content("~/assetsPhar/img/product/product.jpg") alt="product image"></span>
                                                Lysofranil Dorzostin
                                            </h2>
                                        </td>
                                        <td>Hair care</td>
                                        <td>03/10/2019</td>
                                        <td>22</td>
                                        <td>0</td>
                                        <td>OUT OF STOCK</td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Recent Orders -->

            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->