@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Pharmacy Name</th>
                                <th>Phone Number</th>
                                <th>Pharmacy Address</th>
                                <th class="text-center">Status</th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a asp-controller="Pharmacy" asp-action="DetailsPharmacy" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-01.jpg") alt="User Image"></a>
                                        <a asp-controller="Pharmacy" asp-action="DetailsPharmacy">Long Chau</a>
                                    </h2>
                                </td>
                                <td>0828212601</td>
                                <td>44 Cô Giang, Thanh Hải, Phan Thiết</td>
                                <td class="text-center">
                                    <span class="badge rounded-pill bg-warning-light">Pending</span>
                                </td>
                                <td>
                                    <div class="status-toggle">
                                        <input type="checkbox" id="status_3" class="check" checked>
                                        <label for="status_3" class="checktoggle">checkbox</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a asp-controller="Pharmacy" asp-action="DetailsPharmacy" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-02.jpg") alt="User Image"></a>
                                        <a asp-controller="Pharmacy" asp-action="DetailsPharmacy">Pharmacy</a>
                                    </h2>
                                </td>
                                <td>0828212602</td>
                                <td>46 Cô Giang, Thanh Hải, Phan Thiết</td>
                                <td class="text-center">
                                    <span class="badge rounded-pill bg-warning-light">Pending</span>
                                </td>
                                <td>
                                    <div class="status-toggle">
                                        <input type="checkbox" id="status_3" class="check" checked>
                                        <label for="status_3" class="checktoggle">checkbox</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a asp-controller="Pharmacy" asp-action="DetailsPharmacy" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-08.jpg") alt="User Image"></a>
                                        <a asp-controller="Pharmacy" asp-action="DetailsPharmacy">Dr. Paul Richard</a>
                                    </h2>
                                </td>
                                <td>0828212607</td>
                                <td>48 Cô Giang, Thanh Hải, Phan Thiết</td>
                                <td class="text-center">
                                    <span class="badge rounded-pill bg-warning-light">Pending</span>
                                </td>
                                <td>
                                    <div class="status-toggle">
                                        <input type="checkbox" id="status_3" class="check" checked>
                                        <label for="status_3" class="checktoggle">checkbox</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--	<div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>-->
            <div class="modal-body">
                <div class="form-content p-2">
                    <h4 class="modal-title">Delete</h4>
                    <p class="mb-4">Are you sure want to delete?</p>
                    <button type="button" class="btn btn-primary">Save </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="accept_modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--	<div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>-->
            <div class="modal-body">
                <div class="form-content p-2">
                    <h4 class="modal-title">Accept</h4>
                    <p class="mb-4">Are you sure want to accept?</p>
                    <button type="button" class="btn btn-primary"> Accept </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
