@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Speciality</th>
                                <th class="text-center">Status</th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a asp-controller="Doctor" asp-action="DetailsDoctor" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-01.jpg") alt="User Image"></a>
                                        <a asp-controller="Doctor" asp-action="DetailsDoctor">Dr. Ruby Perrin</a>
                                    </h2>
                                </td>
                                <td>Iam@gmail.com</td>
                                <td>Dental</td>
                                <td class="text-center">
                                    <span class="badge rounded-pill bg-warning-light">Pending</span>
                                </td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a data-bs-toggle="modal" href="#accept_modal" class="btn btn-sm bg-success-light me-2">
                                            <i class="fe fe-check"></i> Accept
                                        </a>
                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                            <i class="fe fe-trash"></i> Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a asp-controller="Doctor" asp-action="DetailsDoctor" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-02.jpg") alt="User Image"></a>
                                        <a asp-controller="Doctor" asp-action="DetailsDoctor">Dr. Darren Elder</a>
                                    </h2>
                                </td>
                                <td>abc@gmail.com</td>
                                <td>Dental</td>
                                <td class="text-center">
                                    <span class="badge rounded-pill bg-warning-light">Pending</span>
                                </td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a data-bs-toggle="modal" href="#accept_modal" class="btn btn-sm bg-success-light me-2">
                                            <i class="fe fe-check"></i> Accept
                                        </a>
                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                            <i class="fe fe-trash"></i> Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a asp-controller="Doctor" asp-action="DetailsDoctor" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-08.jpg") alt="User Image"></a>
                                        <a asp-controller="Doctor" asp-action="DetailsDoctor">Dr. Paul Richard</a>
                                    </h2>
                                </td>
                                <td>Ruby@gmail.com</td>
                                <td>Dermatology</td>
                                <td class="text-center">
                                    <span class="badge rounded-pill bg-warning-light">Pending</span>
                                </td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a data-bs-toggle="modal" href="#accept_modal" class="btn btn-sm bg-success-light me-2">
                                            <i class="fe fe-check"></i> Accept
                                        </a>
                                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                                            <i class="fe fe-trash"></i> Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="accept_modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--	<div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>-->
            <div class="modal-body">
                <div class="form-content p-2">
                    <h4 class="modal-title">Accept</h4>
                    <p class="mb-4">Are you sure want to accept?</p>
                    <button type="button" class="btn btn-primary"> Accept </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--	<div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>-->
            <div class="modal-body">
                <div class="form-content p-2">
                    <h4 class="modal-title">Delete</h4>
                    <p class="mb-4">Are you sure want to delete?</p>
                    <button type="button" class="btn btn-primary"> Delete </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
