@model FamilyHealthCare.Customer.Models.BookingViewModel
@using Data
@{
    ViewData["Title"] = "Booking Summary";
}

<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="card">
                    <div class="card-body">

                        <!-- Checkout Form -->
                        <form asp-action="BookingSummary" asp-controller="Appointment" method="post">
                            <input type="text" asp-for="therapistId" hidden />
                            <input type="text" asp-for="userId" hidden />
                            <input type="text" asp-for="StartTime" hidden />
                            <input type="text" asp-for="EndTime" hidden />
                            <input type="text" asp-for="doctorName" hidden />
                            <input type="text" asp-for="Date" hidden />
                            <!-- Personal Information -->
                            <div class="info-widget">
                                <div class="row">
                                    <div class="form-group card-label">
                                        <label style="font-size: 14px;">More Information</label>
                                        <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /Personal Information -->

                            <div class="payment-widget">

                                <!-- /Credit Card Payment -->
                                <!-- Paypal Payment -->
                                <!-- /Paypal Payment -->
                                <!-- Terms Accept -->
                                <!-- /Terms Accept -->
                                <!-- Submit Section -->
                                <div class="submit-section mt-1">
                                    <input type="submit" value="Booking" class="btn btn-primary submit-btn" />
                                </div>
                                <!-- /Submit Section -->

                            </div>
                        </form>
                        <!-- /Checkout Form -->

                    </div>
                </div>

            </div>

            <div class="col-md-5 col-lg-4 theiaStickySidebar">

                <!-- Booking Summary -->
                <div class="card booking-card">
                    <div class="card-header">
                        <h4 class="card-title">Booking Summary</h4>
                    </div>
                    <div class="card-body">

                        <!-- Booking Doctor Info -->
                        <div class="booking-doc-info">
                            <a href="doctor-profile.html" class="booking-doc-img">
                                <img src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a href="doctor-profile.html">Dr. @Model.doctorName</a></h4>
                                @*<div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">35</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="doc-location"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>
                                    </div>*@
                            </div>
                        </div>
                        <!-- Booking Doctor Info -->

                        <div class="booking-summary">
                            <div class="booking-item-wrap">
                                <ul class="booking-date">
                                    <li>Date <span>@Model.Date.ToString("yyyy-MM-dd")</span></li>
                                    <li>Time <span>@Model.StartTime.ToString("HH:mm")</span></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Booking Summary -->

            </div>
        </div>
    </div>
</div>