@using FamilyHealthCare.SharedLibrary;
@using Contract.DTOs.ManagementService;
@model DoctorDetailsDto 
@{
}
<li class="nav-item dropdown has-arrow logged-item">
    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
        <span class="user-img">
            @if (Model.Avatar != null)
            {
                <img class="rounded-circle" src=@(ImageConstants.DOCTORS+Model.Avatar) width="31" alt="Darren Elder">
            }
            else
            {
                <img class="rounded-circle" src="~/assets/img/doctors/doctor-thumb-02.jpg" width="31" alt="Darren Elder">
            }

        </span>
    </a>
    <div class="dropdown-menu dropdown-menu-end">
        <div class="user-header">
            <div class="avatar avatar-sm">
                @if (Model.Avatar != null)
                {
                    <img src=@(ImageConstants.DOCTORS+Model.Avatar) alt="User Image" class="avatar-img rounded-circle">
                }
                else
                {
                    <img src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle">
                }

            </div>
            <div class="user-text">
                <h6>@Model.FullName</h6>
                <p class="text-muted mb-0">Doctor</p>
            </div>
        </div>
        <a class="dropdown-item"  asp-controller="Account" asp-action="ChangePassword">Change Password</a>
        <a class="dropdown-item" asp-controller="Account" asp-action="SignOut">Logout</a>
    </div>
</li>
<li class="dropdown language-select">
    <span class="dropdown-toggle" id="language-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" role="button"><img src="~/assets/img/vietnam.png" alt="flag"> Viet Nam</span>
    <div class="dropdown-menu dropdown-menu" aria-labelledby="language-dropdown">
        <a class="dropdown-item" href="#"><img src="assets/img/united-kingdom.png" alt="flag"> English</a>
    </div>
</li>